/node_modules
package-lock.json
yarn.lock
testing.js.save
.sudo_as_asmin_successful
.selected_edtor
.profile
.npmrc
.node_repl_history
.bashrc
.bash_logout
.bash_history
.ssh
.pm2
.nvm
.npm
/.cache